div{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 102, 0);
    transition: margin-top 1s ease-in 0.2s ;
    margin: 0 auto;
    margin-top: 50px;
}
div:hover{
    background-color: blueviolet;
    margin-left: 300px;
}

