.card{
    width: 200px;
    height: 235px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 4px 4px 10px grey;
    transition: 1s ease;
}


.doc{
    padding: 5px;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover{
    box-shadow: 6px 6px 12px rgb(53, 52, 52);
}