/* Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: thistle;
    margin-top: 10px; /* Adds space at the top */
    margin-bottom: 20px; /* Adds space at the bottom */
    padding: 5px; /* Adds padding around the entire body */
}

/* Card/Form Styles */
.card {
    background-color: lightgray;
    font-size: large;
    padding-top: 50px; /* Adds padding inside the card at the top */
    padding-left: 30px; /* Padding on the left side of the card */
    padding-right: 30px; /* Padding on the right side of the card */
    padding-bottom: 20px; /* Adds padding at the bottom of the card */
    text-align: center;
    margin: 20px auto; /* Adds margin on top and bottom and centers the card */
    border-radius: 10px; /* Rounded corners for the card */
    width: 400px; /* Fixed width for the card */
    height: 500px;
    box-shadow: 10px 20px 20px rgb(175, 58, 175); /* Shadow effect for the card */
    box-sizing: content-box; /* Ensures padding is included in the width */
}
/* Styling for text input fields */
input[type="text"] {
    margin: 0.5px 0px 13px;
    padding: 10px;
    width: 100%; /* Makes the input field take up full width of the parent */
    border: 1px solid rgb(236, 136, 22);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
}

/* Styling for textarea */
textarea {
    margin: 0.5px 0px 13px;
    padding: 10px;
    width: 100%; /* Makes the textarea take up full width of the parent */
    height: 100px; /* Set height to 100px */
    border-radius: 6px;
    border: 1px solid rgb(236, 136, 22);

    font-size: 15px;
    font-weight: 500;
}

