body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:thistle;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
  
}



form{
    background-color: lightgray;

    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;

    margin: auto;
 
    border-radius: 10px;
    width: 500px;
    height: 580px;

    box-shadow: 10px 20px 20px rgb(175, 58, 175);
}


input[type="radio"]
{
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    cursor: text; /* Correct for input fields */
    margin: 0.5px 0px 13px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(236, 136, 22); /* Add 'solid' */
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500; /* normal text weight */
}
