.tag{
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    animation-name: percentageColorAnimation;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-timing-function: ease-in;
    animation-direction: alternate ;


    /* animation: percentageColorAnimation 4s 0 3s ease-in alternate; */
}

@keyframes fontAnimation{
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes widthAnimation{ 
    from{
        width: 200px;
        background-color: yellow ;
    }
    to{
        width: 400px;
        background-color: brown;
    }
}

@keyframes colorAnimation{
    from{
        background-color: yellow ;
    }
    to{
        background-color: brown;
    }
}

@keyframes percentageColorAnimation{
    0%{
        background-color: aqua;
    }
    25%{
        background-color: chartreuse;
    }
    75%{
        background-color: coral;
    }
    100%{
        background-color: violet;
    }
}