#card{
    width: 150px;
    height: 150px;
    background-color: rgb(238, 186, 118);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}

#head{
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 3px;

}

#eye-left{
    width: 30px;
    height: 17px;
    background-color: rgb(62, 107, 165);
    position: relative;
    top: 40px;
    left: 30px;
    border-radius: 3px;
}
#eye-right{
    width: 30px;
    height: 17px;
    background-color: rgb(62, 107, 165);
    position: relative;
    top: 24px;
    left: 80px;
    border-radius: 3px;
}

#nose{
    width: 25px ;
    height: 12px;
    background-color: rgb(182, 118, 35);
    border-radius: 3px;
    position: relative;
    top: 32px;
    left: 60px;
}

#mouth{
    width: 25px ;
    height: 15px;
    background-color: rgb(65, 48, 25);
    position: relative;
    top: 50px;
    left: 60px;

}
#mouth-left{
    width: 15px ;
    height: 25px;
    background-color: rgb(65, 48, 25);
    border-radius: 3px;
    position: relative;
    top: 25px;
    left: 48px;

}
#mouth-right{
    width: 15px ;
    height: 25px;
    background-color: rgb(65, 48, 25);
    border-radius: 3px;
    position: relative;
    left: 80px;
}

#khan{
    width: 150px;
    height: 190px;
    border-radius: 4px;
    margin: 0 auto;
}

#body{
    width: 80px ;
    height: 90px;
    background-color: rgb(14, 204, 233);
    margin: 0 auto;
    border: 2px solid black;

}

#left-foot{
    width: 40px ;
    height: 45px;
    background-color: rgb(233, 14, 116);
    position: relative;
    left: 33px;
    border: 2px solid black;

}
#right-foot{
    width: 38px ;
    height: 45px;
    background-color: rgb(233, 14, 116);
    position: relative;
    left: 74px;
    top: -49px;
    border: 2px solid black;
}
#shoe-left{
    width: 38px ;
    height: 10px;
    background-color: rgba(36, 15, 25, 0.685);
    position: relative;
    left: 74px;
    top: -110px;
    border: 2px solid black;
}
#shoe-right{
    width: 38px ;
    height: 10px;
    background-color: rgba(36, 15, 25, 0.685);
    position: relative;
    left: 33px;
    top: -124px;
    border: 2px solid black;
}

#left-hand{
    width: 17px ;
    height: 25px;
    background-color: rgb(14, 204, 233);
    position: relative;
    left: 15px;
    top: -193px;
    border: 2px solid black;
}
#right-hand{
    width: 17px ;
    height: 25px;
    background-color: rgb(14, 204, 233);
    position: relative;
    left: 115px;
    top: -222px;
    border: 2px solid black;
}

#left-and{
    width: 17px;
    height: 50px;
    background-color: rgb(177, 131, 63);
    border: 2px solid black;
    position: absolute;
    top: 327px;
    left: 623px;
    
}

#right-and{
    width: 17px;
    height: 50px;
    background-color: rgb(177, 131, 63);
    border: 2px solid black;
    position: absolute;
    top: 327px;
    left: 723px;
    
}


