*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color:darkgray;
    padding: 5px 20px 15px 20;
    border: 1px solid black;
    border-radius: 20px;
}
input[type="text"],
input[type="number"],
input[type="button"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 180px;
    padding: 12px;
    border: 1px solid pink;
    border-radius: 5px;

}
fieldset{
    background-color:aquamarine;
    border: 1px solid #ccc;
}
.main_heading{
    text-align: center;

}
input[type="Paynow"]{
    background-color:black;
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}
